# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\算法设计与分析\shiyan1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
